.container {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .title {
  font-size: 30px;
  padding: 25px;
}
.container .login-box {
  width: 500px;
  height: 600px;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .login-box .input {
  margin: 30px;
}
.container .login-box .button {
  margin: 30px;
}
