@border: 1px solid #d5d5d5;

.container {
    // background-color: #f4f4f4;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    & .title{
        font-size: 30px;
        padding: 25px;
    }

    & .login-box {
        width: 500px;
        height: 600px;
        background-color: #fff;
        border: @border;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & .input {
            margin: 30px;
        }

        & .button {
            margin: 30px;

        }
    }

}